/*------Global Style Sheet------*/
* {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 100%;
    vertical-align: baseline;
    background:transparent;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

/* This is the area behind the banner*/
body {
    height: 100vh;
    background-color: rgb(255, 253, 253);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    border-left-style: solid;
    border-color: black;
    border-width: 1px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

h2 {
    text-align: left;
    font-size: 35px;
    font-weight: 400;
    color: black;
}

h5 {
    font-size: 20px;
    margin-top: 10px;
    color: black;
}

/*------Nav Style Sheet------*/
.nav {
    display: flex;
    align-items: center;
    height: auto;
}

.signature {
    margin-left: 3vw;
}

.signatureImage {
    width: calc(180px + 5vw);
    height: auto;
    vertical-align: middle;
}

.navIcons {
    flex: 1;
    text-align: right;
}

.navIcons a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.navIcons:last-child {
    margin-right:3%;
}

@media screen and (max-width: 700px) {
    .nav {
        padding: 20px 0 20px 0;
        display: flex;
        height: auto;
    }
    
    .signature {
       display: none;
    }
    
    .signatureImage {
        display: none;
    }
    
    .navIcons {
        flex: 1;
        text-align: center;
    }
    
    .navIcons a {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
    
    .navIcons:last-child {
        margin-right:3%;
    }
}

/*------Landing Style Sheet------*/
.landing {
    text-align: center;
}
.landingText pre{
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(10pt + .3vw);
    position: relative;
    font-weight: bold;
    letter-spacing: 5px;
}

.landingText pre span {
    font-size: calc(15pt + .5vw);
    letter-spacing: normal;
    line-height: 10vh;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: bolder;
}

.profileImage {
    position: relative;
    width: auto;
    height: 50vh;
}

/*------Menu List Style Sheet------*/
.menu {  
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10vh;
    padding-bottom: 20px;
    text-align: center;
    font-size: calc(10pt + .5vw);
    letter-spacing: 3px;
}

    .menu a {
        text-decoration: none;
        color: black;
        padding-top: 5vh;
    }

        .menu a:hover {
            background-color: rgb(114, 46, 46);
            color: white;
        }

    .menu span {
        font-size: calc(19pt + .5vw);
    }
