body {
    font-size: 1rem;
    background-image: url('../assets/img/photography-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2e2e2e;
    font-family: 'Kalam', cursive !important;
}

.header-section {
    font-family: 'Shadows Into Light', cursive !important;
}

.layer {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.77);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.page-title {
    font-size: 3em;
    padding-bottom: 12px;
    border-bottom: 3px solid #FFF;
}

.back-arrow span {
    position: absolute;
    top: 36px;
    left: 10px;
    font-size: 0.75em;
}

.back-arrow a {
    text-decoration: none;
    color: #FFF;
}

.back-arrow a:hover {
    text-decoration: none;
    color: rgb(194, 194, 194);
}

button {
    background-color: Transparent !important;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px 0 rgba(#000, 0.1);
}

.modal-content {
    background-color: #ebebeb !important;
}


/* Mobile */

@media only screen and (max-height: 1000px) {
    .page-title {
        font-size: 2em;
    }
    .back-arrow span {
        position: absolute;
        font-size: 0.5em;
    }
}